<div class="container mt-5 mb-3">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4">Convertidor de Divisas</h2>

      <form (ngSubmit)="obtenerConversion()">
  <!-- Cantidad -->
  <div class="mb-3">
    <label for="cantidad" class="form-label">Cantidad</label>
    <input
      type="number"
      class="form-control"
      id="cantidad"
      placeholder="Ingresa la cantidad"
      name="amount"
      [(ngModel)]="amount"
    />
  </div>

  <!-- Moneda origen -->
  <div class="mb-3">
    <label for="monedaOrigen" class="form-label">De</label>
    <select class="form-select" id="monedaOrigen" name="from" [(ngModel)]="from">
      <option selected disabled>Selecciona una moneda</option>
      <option *ngFor="let m of monedas" [value]="m.codigo">
        {{ m.nombre }} ({{ m.codigo }})
      </option>
    </select>
  </div>

  <!-- Moneda destino -->
  <div class="mb-3">
    <label for="monedaDestino" class="form-label">A</label>
    <select class="form-select" id="monedaDestino" name="to" [(ngModel)]="to">
      <option selected disabled>Selecciona una moneda</option>
      <option *ngFor="let m of monedas" [value]="m.codigo">
        {{ m.nombre }} ({{ m.codigo }})
      </option>
    </select>
  </div>

  <!-- Resultado -->
<div class="mb-3" *ngIf="conversion !== null">
  <label for="resultado" class="form-label">Resultado</label>
  <input
    type="text"
    class="form-control"
    id="resultado"
    [value]="conversion | currency : monedaConvertida : 'symbol' : '1.2-2'"
    disabled
  />
</div>

  <!-- Botón -->
  <div class="d-grid">
    <button type="submit" class="btn btn-primary">Convertir</button>
  </div>
</form>
    </div>
  </div>
</div>